/* google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Permanent+Marker&display=swap');

/* remove default styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* base styles */
* {
    font-family: Andika, sans-serif;
    text-align: center;
    list-style: none;
    margin: 10px;
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin: 10px;
    padding-top: 10px
}

h2 {
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 15px;
    max-width: 500px;
}

p {
    font-size: 20px;
    padding: 0 15px 15px 15px;
}

ul {
    padding-bottom: 15px;
}

li {
    max-width: 450px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #252525;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.border {
    border: 1px solid #252525;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.buttons a, .buttons button {
    background-color: #FFC300;
    margin: 10px;
    padding: 10px;
    border: 2px solid #252525;
    border-radius: 20px;
    font-weight: bold;
    width: 150px;
}

.buttons a:hover, .buttons button:hover {
    color: #FFC300;
    background-color: #252525;
    cursor: pointer;
}

/* homepage styles */
#go-button, #back-home {
    padding: 8px 55px;
}

#go-button {
    font-size: 20px;
}

#start-container {
    margin-top: 30px;
}

/* game page styles */
#the-word {
    text-transform: uppercase;
    letter-spacing: 10px;
}

#user-answer {
    min-width: 100px;
    height: 50px;
    text-transform: uppercase;
    border: 1px solid #8e8e8e;
}

#stats {
    display: flex;
    padding-top: 50px;
}

h3 {
    font-size: larger;
    border: 1px solid #252525;
    border-radius: 10px;
    border-style: outset;
    border-color: #FFC300;
    padding: 5px 10px;
}

/* modal styles */
.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container div {
    background-color: #FFC300;
    margin: 0 auto;
    border: 5px solid #252525;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 325px;
    height: 125px;
}

.close {
    color: #252525;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #252525;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #FFF2C8;
}

.close:hover, .close:focus {
    color: #252525;
    text-decoration: none;
    cursor: pointer;
}

/* smaller screen styles */
@media only screen and (max-width: 400px) {
    #start-container {
        margin-top: 10px;
    }

    #go-button {
        font-size: 15px;
        padding: 5px 25px;
    }
}